{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}

<!-- block style -->
<style>

.autocomplete {
	position: relative;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

.autocomplete-active {
	background-color: dodgerblue !important;
	color: #ffffff;
}

</style>

<h1 class="text-center">Nuevo Préstamo</h1>

<div class="col-lg-12 col-md-12 col-xs-12">
	<form role='form' method="POST" autocomplete="off">
		{% csrf_token %}
		<div class="col-lg-6 col-md-8 col-xs-12">
			<div class="form-group autocomplete">
				<label for="">Cliente</label>
				<input type="text" name="cliente" id="cliente" placeholder="Nombre o dni de cliente" class="form-control">
			</div>
		</div>
		<div class="col-lg-6 col-md-8 col-xs-12">
			<div class="form-group">
				<label for="">DNI cliente:</label>
				<input type="text" name="clienteId" id="clienteId" disabled class="form-control">
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12">
			<div class="form-group">
				<label for="">Monto del préstamo</label>
				<input type="number" name="monto" id="monto" placeholder="0.00" class="form-control">
			</div>
		</div>

		<div class="col-lg-4 col-md-6 col-xs-12">
			<div class="form-group">
				<label for="">Caja:</label>
				<select name="caja" id="cajaId" class="form-control">
					{% for caja in cajas %}
						<option value="{{ caja.id }}">
							{{ caja.nombre }}
						</option>
					{% endfor %}
				</select>
			</div>		
		</div>

		<div class="col-lg-4 col-md-6 col-xs-12">
			<div class="form-group">
				<label for="">Supervisor</label>
				<select name="supervisor" id="supervisorId" class="form-control">
					{% for supervisor in supervisores %}
						<option value="{{ supervisor.id }}">
							{{ supervisor.nombre }}
						</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="col-lg-12 col-md-8 col-xs-12">
			<a href="#" id="guardar" class="btn btn-primary">Guardar</a>
		</div>

	</form>
</div>

<script src="{% static 'js/movimiento/prestamo/prestamoNuevo.js' %}"></script>
{% endblock %}